.card{
    background: #fff;
    position: relative;
    width: 350px;
    min-height: 100px;
    border: 1px solid black;
}
.card img{
    width: 350px;
    min-height: 200px;
    position: relative;
}
.card .content{
    padding: 20px;
    background-color: gainsboro;
}
.offer{
    top: 0;
    right: 0;
    position: absolute;
    background: red;
    border: 1px solid black;

}
div.card{
       
}

h2{
    background-color: bisque;
}
#section1, #section2, #section3, #section4{
    position: sticky;
    top: 50px;
}




