.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 20px 0 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 70%; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author p {
    font-size: 1rem;
    color: #333;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #999;
    margin-top: 10px;
}

.stats p {
    margin: 0;
}

.stats .likes-comments {
    display: flex;
    gap: 15px;
}
